/* Paragraph */
.segments-paragraph {
  text-align:justify;
  line-height:30px;
  margin-bottom:20px;
}

/* Segment */
.segments-paragraph span.segment {
  background-color:#dff0d8;
  padding:3px;
  padding-right:0px;
  margin:0px;
  margin-right:7px;
}
.segments-paragraph span.segment.no-labels {
  background-color:#ffffff;
}
.segments-paragraph span.segment.unannotated {
  background-color:#f8f8f8;
}
.segments-paragraph span.segment.continued {
  padding-right:7px;
  margin-right:0px;
}
.segments-paragraph span.nobreak {
  white-space:nowrap;
  background-color:inherit;
}

/* Dropdown */
.segments-paragraph span.segment span.dropdown {
  cursor:pointer;
  margin:0px;
  padding:3px 0px;
  border-color:#000000;
  border-style:solid;
  border-width:0px;
  border-left-width:0px;
  border-radius:0px;
}
.segments-paragraph span.segment .dropdown {
  background-color:inherit;
}
.segments-paragraph span.segment .dropdown-menu li {
  background-color:#ffffff;
}
.segments-paragraph span.segment .dropdown .dropdown-toggle {
  background-color:inherit;
}
.segments-paragraph span.segment .dropdown:hover .dropdown-toggle,
.segments-paragraph span.segment .dropdown.open .dropdown-toggle {
  -webkit-filter:brightness(80%);
  filter:brightness(80%);
}
.segments-paragraph .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background-color: inherit;
  -webkit-filter:brightness(80%);
  filter:brightness(80%);
}
